.container
  %h1 Tasks
  %table.styled.index
    %tr
      %th.center Complete
      %th Name
      %th Due At
      %th Completed At
      %th Edit
      %th Delete
    - if @tasks.count > 0
      - @tasks.each do |task|
        %tr
          %td.center
            - if task.completed
              %i.ss-icon check
            - else
              %i.ss-icon close
          %td= task.name
          %td= task.due_at_s
          %td= task.completed_at_s
          %td= link_to content_tag(:i, "gear", class: "ss-icon"), edit_task_path(task)
          %td= link_to content_tag(:i, "trash", class: "ss-icon"), task, confirm: 'Are you sure?', method: :delete
    - else
      %tr
        %td{ colspan: 6 } No Tasks

  = link_to 'New Task', new_task_path, class: "button"
