.container
  %h1 Tasks
  %table.styled.index
    %tr
      %th Remind At
      %th Task
      %th Edit
      %th Delete
    - if @reminders.count > 0
      - @reminders.each do |reminder|
        %tr
          %td= reminder.remind_at_s
          - if reminder.task
            %td= reminder.task.name
          - else
            %td None
          %td= link_to content_tag(:i, "gear", class: "ss-icon"), edit_reminder_path(reminder)
          %td= link_to content_tag(:i, "trash", class: "ss-icon"), reminder, confirm: 'Are you sure?', method: :delete
    - else
      %tr
        %td{ colspan: 4 } No Reminders

  = link_to 'New Reminder', new_reminder_path, class: "button"
