%meta{:charset => 'utf-8'}
%meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
%meta{:content => 'Eric Horacek', :name => 'author'}
%title EHObjectSyncManager

= stylesheet_link_tag "application", :media => "all"
= csrf_meta_tags

%link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}
%link{:href => "/assets/images/apple-touch-icon.png", :rel => "apple-touch-icon"}
%link{:href => "/assets/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
%link{:href => "/assets/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}

= javascript_include_tag "application"

%noscript
  = stylesheet_link_tag "noscript"
= surround "<!--[if lte IE 8]>".html_safe, "<![endif]-->".html_safe do
  = stylesheet_link_tag "ie"
