!!!
%html{:lang => 'en'}
  %head
    = render 'head'
  %body
    = render 'error'
    .header
      .container
        %a.title{:href => "/"}
          %p EHObjectSyncManager
        .navigation
          = link_to "Tasks", tasks_path
          = link_to "Reminders", reminders_path
    = yield
  = render 'footer'
